<div class="px-4">
  <div class="max-w-3xl bg-white rounded-lg mx-auto my-16 p-16">
    <h1 class="text-2xl font-medium mb-2 text-center">Game Selection</h1>
    <p>Which game do you want to play? I adore Graphite.</p>
  </div>
</div>
