<footer class="footer">
  <small>This is Game Hub, a web page for our own games for private access!</small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
